.subscribe {
  width: 119px;
  height: 35px;
  background-color: black;
  border: none;
  border-radius: 17.5px;
  color: white;
  font-weight: 700;
  margin-top: 20px;
  transition: 0.15s;
  cursor: pointer;
}
.subscribe:hover {
  opacity: 0.7;
}
.subscribe:active {
  opacity: 0.4;
}