iframe {
  display: block;
  margin-bottom: 14px;
}

.subscribe-button {
  width: 110px;
  padding-bottom: 10px;
  padding-top: 10px;
  border: none;
  border-radius: 50px;
  background-color: black;
  color: white;
  transition: 0.20s;
  cursor: pointer;
}

.subscribe-button:hover {
  opacity: 0.7;
}

.subscribe-button:active {
  opacity: 0.5;
}

.join-button {
  width: 50px;

}